.newCard {
  width: 200px;
  height: 250px;
	margin: 5px;
	padding: 5px;
	background-color: white;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.07), 0 2px 1px -1px rgba(0,0,0,0.06), 0 1px 3px 0 rgba(0,0,0,0.10);
	position: relative;
	display: flex;
	flex-direction: column;
}

.thumbnail {
	width: 200px;
	height: 150px;
}

.fileName {
	font-weight: 400;
}

.timestamp {
	color: grey;
}

.link {
	color: #5BA8E9;
	text-decoration: none;
	text-transform: capitalize;
}

.link:visited {
	color: #5BA8E9;
}

.fileLink {
	color: #5BA8E9;
	background: transparent;
	outline: none;
	border: none;
	cursor: pointer;
	padding: 0;
	font-size: 1rem;
}

.meta {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.metadata {
	box-sizing: border-box;
	color: grey;
	display: flex;
	justify-content: space-between;
	width: 100%;
	position: absolute;
	padding: 0 10px;
	bottom: 5px;
}

.metadata > p {
	margin: 0;
	padding-right: 12px;
	padding-left: 2px;
}

.starIcon {
	position: absolute;
	right: 0;
	top: 0;
	padding: 10px;
	background: transparent;
	width: min-content;
	border: none;
	cursor: pointer;
}

.starIcon > i{
	font-size: 24px;
	color: #5BA8E9;
}