.newCard {
	width: 200px;
	height: 250px;
	margin: 5px;
	padding: 5px;
	background-color: white;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.07), 0 2px 1px -1px rgba(0,0,0,0.06), 0 1px 3px 0 rgba(0,0,0,0.10);
}
.thumbnail {
	width: 200px;
	height: 150px;
}
.fileName {
	font-weight: bold;
}
.timestamp {
	color: grey;
}