.loginBody{
    background-color: #538e96;
    height: 21cm;
}

.loginA{
    position: absolute;
    top: 300px;
    left: 37%;
    background-color: #0c4d6d;
    border: 2px solid #15648abf;
    border-style: double;
    border-radius: 11px;
}
.loginA:hover{
    opacity: 0.5;
}
.loginButton{
    padding: 18px;
    width: 287px;
    background-color: #15648a;
    color: white;
    border: none;
    border-left: 1px groove #ffffff;
    cursor: pointer;
    border-radius: 29px 11px 13px 31px;
}

.dropboxLogo{
    height: 20px;
    position: relative;
    top: 6px;
    margin: 0px 17px;
}