.container {
    box-sizing: border-box;
    background-color: white;
    width: 300px;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.h3 {
    color: #303030;
    margin-bottom: 5px;
}
.link {
    text-decoration: none;
    color: #303030;
    border-bottom: 1px solid white;
    margin-top: 2px;
}
.link:hover {
    color: #50808E;
}
.main {
    margin-left: 20%;
}
.Links {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.logo {
    width: 100%;
}
.storageHeader {
    border: 1px solid black;
    bottom: 0;
}
.openButton{
    background-color: #f0f8ff00;
    border: none;
    padding: 0px 0px;
    text-align: left;
    font-size: 15px;
    margin-top: 5px;
    cursor: pointer;

}
.openButton:focus{
    outline: none;
}
.openButton:hover{
    color: #50808E;
}