.container {
    background-color: white;
    border-right: 1px solid #303030;
    width: 20%;
    height: 100vh;
    padding: 20px;
}
.h3 {
    color: #303030;
}
.link {
    text-decoration: none;
    color: orangered;
}
.link:hover {
    color: blue;
    border-bottom: 1px solid blue;
}
.main {
    margin-left: 20%;
}
.links {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.h1 {
    text-decoration: none;
    font-size: 30px;
    color: #303030;
    font-family: "asap";
}